<a href="https://colab.research.google.com/github/paolaportilloj/Visualizaci-n-de-datos-para-la-toma-de-decisiones/blob/main/Avancesp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [876]:
path='/content/drive/MyDrive/5to semestre/1er periodo/Visualización de datos para la toma de decisiones/Base de datos de estudiantes TEC.xlsx'

In [877]:
import pandas as pd
import numpy as np

In [878]:
df = pd.read_excel(path)

In [879]:
cols=df.columns

In [880]:
df.shape

(28, 31)

In [881]:
cols=cols.to_list()

In [882]:
df.index = df.index + 1

¿Cuantas mujeres tienen el color rosa como favorito y piensan que el mejor superbowl es el de Jennifer López y Shakira?

In [883]:
df1 = df[['23. Color Favorito','6. Sexo','8. Mejor superbowl en los últimos 5 años']]
df1 = df1.set_index(['23. Color Favorito','6. Sexo','8. Mejor superbowl en los últimos 5 años'])
df1.loc['Rosa','Mujer', 'Jennifer López, Shakira']

<ipython-input-883-4fe01bf32591>:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df1.loc['Rosa','Mujer', 'Jennifer López, Shakira']

Empty DataFrame
Columns: []
Index: [(Rosa, Mujer, Jennifer López, Shakira), (Rosa, Mujer, Jennifer López, Shakira), (Rosa, Mujer, Jennifer López, Shakira)]

In [884]:
df1.groupby(['23. Color Favorito','6. Sexo','8. Mejor superbowl en los últimos 5 años']).size()

23. Color Favorito  6. Sexo  8. Mejor superbowl en los últimos 5 años
Aqua                Hombre   Eminem, Snoop Dogg, 50 Cent, etc            1
Azul                Hombre   Jennifer López, Shakira                     2
                    Mujer    Jennifer López, Shakira                     1
                             Maroon 5                                    2
                             The Weekend                                 1
Marron              Mujer    Jennifer López, Shakira                     1
Naranja             Hombre   Eminem, Snoop Dogg, 50 Cent, etc            1
Naranja             Hombre   Jennifer López, Shakira                     1
                    Mujer    Rihanna                                     1
Negro               Hombre   Eminem, Snoop Dogg, 50 Cent, etc            2
                             Jennifer López, Shakira                     1
                             Rihanna                                     1
Rojo                Hombre   Eminem, Snoop Dogg, 50 Cent, etc            1
                             Jennifer López, Shakira                     3
Rosa                Mujer    Jennifer López, Shakira                     3
                             The Weekend                                 2
Verde               Hombre   Jennifer López, Shakira                     1
Verde               Hombre   Jennifer López, Shakira                     1
blanco              Hombre   Jennifer López, Shakira                     1
negro               Hombre   Eminem, Snoop Dogg, 50 Cent, etc            1
dtype: int64

¿Cuántos hombres que piensan que juega mejor Messi le van a rayados?

In [886]:
df = df.reset_index()

In [887]:
df.index = df.index + 1

In [893]:
df2 = df[['25. ¿Quién es mejor?','6. Sexo','16. Equipo favorito mexicano de fútbol']]
df2 = df2.set_index(['25. ¿Quién es mejor?','6. Sexo','16. Equipo favorito mexicano de fútbol'])
df2.loc['Messi','Hombre', 'Rayados']

<ipython-input-893-06914a6b74a5>:3: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc['Messi','Hombre', 'Rayados']

Empty DataFrame
Columns: []
Index: [(Messi, Hombre, Rayados), (Messi, Hombre, Rayados), (Messi, Hombre, Rayados), (Messi, Hombre, Rayados), (Messi, Hombre, Rayados), (Messi, Hombre, Rayados)]

In [894]:
df2.groupby(['25. ¿Quién es mejor?','6. Sexo','16. Equipo favorito mexicano de fútbol']).size()

25. ¿Quién es mejor?  6. Sexo  16. Equipo favorito mexicano de fútbol
Cristiano Ronaldo     Hombre   America                                   1
                               Rayados                                   1
                               Santos                                    1
                               Tigres                                    1
                      Mujer    Puebla                                    1
                               Rayados                                   2
                               Tigres                                    1
                               Toluca                                    1
Messi                 Hombre   America                                   2
                               Rayados                                   6
                               Santos                                    1
                               Tigres                                    4
                      Mujer    America                                   1
                               Rayados                                   3
                               Tigres                                    1
                               ninguno                                   1
dtype: int64