<a href="https://colab.research.google.com/github/paolaportilloj/Visualizaci-n-de-datos-para-la-toma-de-decisiones/blob/main/dia4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
path='https://raw.githubusercontent.com/tec03/Datasets/main/datasets/multi_index.csv'

In [46]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv(path,
                 header = [0,1],
                 index_col = [0,1]
                 )
df

                                Night                             \
                              Weather       Wind Max Temperature
City      Date
London    01/07/19             Shower  SW 16 mph              18
          02/07/19         Heavy rain  SW 16 mph              17
          03/07/19         Heavy rain  SW 16 mph              19
          04/07/19      Mostly cloudy  SW 16 mph              23
Oxford    01/07/19             Shower  SW 16 mph              19
          02/07/19             Shower  SW 16 mph              19
          03/07/19  Scattered showers  SW 16 mph              22
          04/07/19             Shower  SW 16 mph              21
Cambridge 01/07/19             Shower  SW 16 mph              17
          02/07/19  Scattered showers   E 20 mph              16
          03/07/19  Scattered showers  SE 10 mph              16
          04/07/19      Mostly cloudy   S 25 mph              16

                                  Day
                              Weather       Wind Max Temperature
City      Date
London    01/07/19             Shower  SW 16 mph              28
          02/07/19             Shower  SW 16 mph              29
          03/07/19  Scattered showers  SW 16 mph              29
          04/07/19      Mostly cloudy  SW 16 mph              31
Oxford    01/07/19             Shower  SW 13 mph              25
          02/07/19             Shower  SW 16 mph              26
          03/07/19  Scattered showers  SW 16 mph              28
          04/07/19             Shower  SW 14 mph              25
Cambridge 01/07/19             Shower  SW 16 mph              24
          02/07/19  Scattered showers   E 20 mph              21
          03/07/19  Scattered showers  SE 10 mph              22
          04/07/19             Shower   S 25 mph              22

In [50]:
df.index

MultiIndex([(   'London', '01/07/19'),
            (   'London', '02/07/19'),
            (   'London', '03/07/19'),
            (   'London', '04/07/19'),
            (   'Oxford', '01/07/19'),
            (   'Oxford', '02/07/19'),
            (   'Oxford', '03/07/19'),
            (   'Oxford', '04/07/19'),
            ('Cambridge', '01/07/19'),
            ('Cambridge', '02/07/19'),
            ('Cambridge', '03/07/19'),
            ('Cambridge', '04/07/19')],
           names=['City', 'Date'])

In [52]:
df.columns.levels

FrozenList([['Day', 'Night'], ['Max Temperature', 'Weather', 'Wind']])

In [53]:
df.loc[['London', 'Oxford'],
       'Day']

                           Weather       Wind  Max Temperature
City   Date
London 01/07/19             Shower  SW 16 mph               28
       02/07/19             Shower  SW 16 mph               29
       03/07/19  Scattered showers  SW 16 mph               29
       04/07/19      Mostly cloudy  SW 16 mph               31
Oxford 01/07/19             Shower  SW 13 mph               25
       02/07/19             Shower  SW 16 mph               26
       03/07/19  Scattered showers  SW 16 mph               28
       04/07/19             Shower  SW 14 mph               25

In [59]:
df.loc['Cambridge','Night']

                    Weather       Wind  Max Temperature
Date
01/07/19             Shower  SW 16 mph               17
02/07/19  Scattered showers   E 20 mph               16
03/07/19  Scattered showers  SE 10 mph               16
04/07/19      Mostly cloudy   S 25 mph               16

In [60]:
df.loc['Cambridge','Night'].loc[:, 'Weather'].to_frame()

                    Weather
Date
01/07/19             Shower
02/07/19  Scattered showers
03/07/19  Scattered showers
04/07/19      Mostly cloudy

In [62]:
df.columns

MultiIndex([('Night',         'Weather'),
            ('Night',            'Wind'),
            ('Night', 'Max Temperature'),
            (  'Day',         'Weather'),
            (  'Day',            'Wind'),
            (  'Day', 'Max Temperature')],
           )

In [64]:
df.loc['Cambridge',
       ('Night',         'Weather')].to_frame()

                      Night
                    Weather
Date
01/07/19             Shower
02/07/19  Scattered showers
03/07/19  Scattered showers
04/07/19      Mostly cloudy

In [65]:
df.loc['Cambridge',:]

                      Night                                           Day  \
                    Weather       Wind Max Temperature            Weather
Date
01/07/19             Shower  SW 16 mph              17             Shower
02/07/19  Scattered showers   E 20 mph              16  Scattered showers
03/07/19  Scattered showers  SE 10 mph              16  Scattered showers
04/07/19      Mostly cloudy   S 25 mph              16             Shower


               Wind Max Temperature
Date
01/07/19  SW 16 mph              24
02/07/19   E 20 mph              21
03/07/19  SE 10 mph              22
04/07/19   S 25 mph              22

In [67]:
df.loc['Cambridge', (slice(None), 'Wind')]

              Night        Day
               Wind       Wind
Date
01/07/19  SW 16 mph  SW 16 mph
02/07/19   E 20 mph   E 20 mph
03/07/19  SE 10 mph  SE 10 mph
04/07/19   S 25 mph   S 25 mph

In [69]:
df.columns.levels

FrozenList([['Day', 'Night'], ['Max Temperature', 'Weather', 'Wind']])

In [81]:
df.index

MultiIndex([(   'London', '01/07/19'),
            (   'London', '02/07/19'),
            (   'London', '03/07/19'),
            (   'London', '04/07/19'),
            (   'Oxford', '01/07/19'),
            (   'Oxford', '02/07/19'),
            (   'Oxford', '03/07/19'),
            (   'Oxford', '04/07/19'),
            ('Cambridge', '01/07/19'),
            ('Cambridge', '02/07/19'),
            ('Cambridge', '03/07/19'),
            ('Cambridge', '04/07/19')],
           names=['City', 'Date'])

In [82]:
df.loc[(   'London', '02/07/19'),:]

Night  Weather            Heavy rain
       Wind                SW 16 mph
       Max Temperature            17
Day    Weather                Shower
       Wind                SW 16 mph
       Max Temperature            29
Name: (London, 02/07/19), dtype: object

In [84]:
df.loc[(   'London', '02/07/19'),:].to_frame()

                           London
                         02/07/19
Night Weather          Heavy rain
      Wind              SW 16 mph
      Max Temperature          17
Day   Weather              Shower
      Wind              SW 16 mph
      Max Temperature          29

In [85]:
df.loc[(   'London', '02/07/19'),:].to_frame().transpose()

                      Night                                Day             \
                    Weather       Wind Max Temperature Weather       Wind
London 02/07/19  Heavy rain  SW 16 mph              17  Shower  SW 16 mph


                Max Temperature
London 02/07/19              29

In [89]:
df.loc[( slice(None), '02/07/19'),('Night','Weather')]

City       Date
London     02/07/19           Heavy rain
Oxford     02/07/19               Shower
Cambridge  02/07/19    Scattered showers
Name: (Night, Weather), dtype: object

In [94]:
df.loc[( slice(None), ['02/07/19','04/07/19']),('Night', 'Weather')].to_frame()

                                Night
                              Weather
City      Date
London    02/07/19         Heavy rain
Oxford    02/07/19             Shower
Cambridge 02/07/19  Scattered showers
London    04/07/19      Mostly cloudy
Oxford    04/07/19             Shower
Cambridge 04/07/19      Mostly cloudy