<a href="https://colab.research.google.com/github/paolaportilloj/Visualizaci-n-de-datos-para-la-toma-de-decisiones/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x='https://raw.githubusercontent.com/tec03/Datasets/main/datasets/reg_data.csv'

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(x)
df.head()

   Gender  Salary   Age  Place  Weight Company   Education  JoinYear
0  Female  1300.0  35.0    1.0    80.0     BMW    Bachelor      2008
1  Female  1250.0  33.0    1.0    82.5    Ford  HighSchool      2010
2    Male  2200.0  34.0    2.0   100.8     BMW    Bachelor      2004
3    Male  2100.0  42.0    2.0    90.0     BMW      Master      2000
4  Female  1500.0  29.0    1.0    67.0    Ford      Master      2010

In [5]:
df.isnull().any()

Gender        True
Salary        True
Age           True
Place         True
Weight        True
Company       True
Education     True
JoinYear     False
dtype: bool

In [6]:
df.shape

(19, 8)

In [7]:
df.dropna(how='all', axis=1, inplace=True)
df.shape

(19, 8)

In [8]:
df.dropna(how='all', inplace=True)

In [9]:
df.shape

(19, 8)

In [31]:
ndf=df[[ 'Salary', 'Age', 'Weight'] ]
ndf=ndf.dropna()
ndf.isnull().any()

Salary    False
Age       False
Weight    False
dtype: bool

In [32]:
from sklearn import linear_model
import statsmodels.api as sm

In [33]:
X= ndf[[ 'Age' ,'Weight']]
y=ndf['Salary' ]

In [34]:
lm=linear_model.LinearRegression()
model=lm.fit(X,y)
model

LinearRegression()

In [35]:
model.coef_

array([41.16445683, -3.14336849])

In [36]:
model.intercept_

871.9179918088234

In [37]:
edad=int((input('Enter age')))

Enter age33

In [38]:
print('Salary of a person with age', edad, 'is',
      edad*model.coef_+model.intercept_)

Salary of a person with age 33 is [2230.34506715  768.18683149]

In [39]:
ndf

    Salary   Age  Weight
0   1300.0  35.0    80.0
1   1250.0  33.0    82.5
2   2200.0  34.0   100.8
3   2100.0  42.0    90.0
4   1500.0  29.0    67.0
5   1700.0  42.0    60.0
6   3000.0  50.0    77.0
7   3000.0  55.0    77.0
8   2800.0  31.0    87.0
9   2900.0  46.0    70.0
10  2780.0  36.0    57.0
11  2550.0  48.0    64.0
14  2780.0  36.0    57.0
16  2550.0  48.0    64.0
17  2550.0  48.0    64.0
18  2550.0  48.0    64.0

In [40]:
modelA=sm.OLS.from_formula('Salary ~ Age+Weight',
                           data=ndf)
resultA=modelA.fit()
resultA.summary()

/usr/local/lib/python3.9/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.317
Model:                            OLS   Adj. R-squared:                  0.212
Method:                 Least Squares   F-statistic:                     3.022
Date:                Thu, 09 Mar 2023   Prob (F-statistic):             0.0836
Time:                        16:40:34   Log-Likelihood:                -121.52
No. Observations:                  16   AIC:                             249.0
Df Residuals:                      13   BIC:                             251.3
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    871.9180   1234.042      0.707      0.492   -1794.069    3537.905
Age           41.1645     17.985      2.289      0.039       2.309      80.019
Weight        -3.1434     11.090     -0.283      0.781     -27.101      20.814
==============================================================================
Omnibus:                        0.200   Durbin-Watson:                   1.331
Prob(Omnibus):                  0.905   Jarque-Bera (JB):                0.398
Skew:                           0.051   Prob(JB):                        0.820
Kurtosis:                       2.234   Cond. No.                         779.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [42]:
print('The salary 33, and 82.5, is',
      871.9179918088234+33*41.16445683+82.5*-3.14336849)

The salary 33, and 82.5, is 1971.0171667738234

In [44]:
resultA.resid

0    -761.204501
1    -721.017166
2     245.342020
3    -217.922014
4    -355.081551
5    -712.223069
6     311.898541
7     106.076257
8     925.456906
9     354.552789
10    605.333567
11    -96.636336
14    605.333567
16    -96.636336
17    -96.636336
18    -96.636336
dtype: float64