<a href="https://colab.research.google.com/github/paolaportilloj/Visualizaci-n-de-datos-para-la-toma-de-decisiones/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
path='https://raw.githubusercontent.com/tec03/Datasets/main/datasets/reg_data.csv'

In [2]:
import pandas as pd
import statsmodels.api as sm

In [3]:
df=pd.read_csv(path)
df.head(2)

   Gender  Salary   Age  Place  Weight Company   Education  JoinYear
0  Female  1300.0  35.0    1.0    80.0     BMW    Bachelor      2008
1  Female  1250.0  33.0    1.0    82.5    Ford  HighSchool      2010

In [36]:
ndf=df[[ 'Salary', 'Place', 'Gender' ]]
ndf=ndf.dropna()
ndf.head()

   Salary  Place  Gender
0  1300.0    1.0  Female
1  1250.0    1.0  Female
2  2200.0    2.0    Male
3  2100.0    2.0    Male
4  1500.0    1.0  Female

In [42]:
ndf.Place.unique

<bound method Series.unique of 0     1.0
1     1.0
2     2.0
3     2.0
4     1.0
5     3.0
6     3.0
7     3.0
8     2.0
9     2.0
10    3.0
11    2.0
13    2.0
15    2.0
16    2.0
17    1.0
Name: Place, dtype: float64>

In [44]:
ndf['Place'] = ndf['Place'].astype('category')

In [45]:
model=sm.OLS.from_formula('Salary~+Gender+Place',
                          data= ndf)
result=model.fit()
result.summary()

/usr/local/lib/python3.9/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.616
Model:                            OLS   Adj. R-squared:                  0.520
Method:                 Least Squares   F-statistic:                     6.414
Date:                Mon, 13 Mar 2023   Prob (F-statistic):            0.00771
Time:                        16:34:19   Log-Likelihood:                -117.09
No. Observations:                  16   AIC:                             242.2
Df Residuals:                      12   BIC:                             245.3
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       1513.9286    220.345      6.871      0.000    1033.838    1994.019
Gender[T.Male]   544.2857    259.905      2.094      0.058     -21.998    1110.569
Place[T.2.0]     578.5714    304.765      1.898      0.082     -85.455    1242.598
Place[T.3.0]     833.9286    304.765      2.736      0.018     169.902    1497.955
==============================================================================
Omnibus:                        0.098   Durbin-Watson:                   1.280
Prob(Omnibus):                  0.952   Jarque-Bera (JB):                0.321
Skew:                           0.068   Prob(JB):                        0.852
Kurtosis:                       2.320   Cond. No.                         5.46
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [6]:
edad= int(input('Enter age to calculate salary'))

Enter age to calculate salary33

In [12]:
genero=int(input('Enter gender (1 male, 0 female)'))

Enter gender (1 male, 0 female)0

In [46]:
print(1513.9286	+
      0*544.2857+
      0*578.5714+
      0*833.9286)

1513.9286

In [48]:
result.resid.describe()

count    1.600000e+01
mean    -2.273737e-12
std      3.766377e+02
min     -6.478571e+02
25%     -2.264286e+02
50%     -5.035714e+01
75%      2.632143e+02
max      7.075000e+02
dtype: float64

In [49]:
result.fittedvalues.describe()

count      16.000000
mean     2351.875000
std       476.934969
min      1513.928571
25%      2083.928571
50%      2636.785714
75%      2636.785714
max      2892.142857
dtype: float64

In [33]:
%print('Salary of a Female person with 33, with bahcelor degree, working in Ford Joined in 2010',
      	1.279e+04+
      0*210.0075	+ 
      0*	-499.0852+
      0*	254.0525+
      0*	32.0349+
      1*-20.1596 +
      0*435.0724+
      33*29.5878+
      2010*	-5.8444
      )

Salary of a Female person with 33, with bahcelor degree, working in Ford Joined in 2010 1998.9937999999984

In [24]:
df.head()

   Gender  Salary   Age  Place  Weight Company   Education  JoinYear
0  Female  1300.0  35.0    1.0    80.0     BMW    Bachelor      2008
1  Female  1250.0  33.0    1.0    82.5    Ford  HighSchool      2010
2    Male  2200.0  34.0    2.0   100.8     BMW    Bachelor      2004
3    Male  2100.0  42.0    2.0    90.0     BMW      Master      2000
4  Female  1500.0  29.0    1.0    67.0    Ford      Master      2010